<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="style_about.css">
  </head>
  <body>
    <header>
      <div class="left-item"><img src="./images/logo.jpg" alt="Logo">
      </div>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
<!--          <li><a href="/about">MODEL INFO</a></li>-->
          <li><a href="/statistics">STATISTICS</a></li>
          <li><a href="/model">CLASSIFICATION</a></li>
          <li><a href="/team">TEAM</a></li>
        </ul>
      </nav>
      <div class="right-item">CODE CRUSADERS</div>
    </header>
  <main>

  </main>
  </body>
</html>
