<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href='/css/style_home.css'>
  </head>
  <body>
    <header>
      <div class="left-item"><img src="/images/logo.jpg"/>
      </div>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
<!--          <li><a href="/about">MODEL INFO</a></li>-->
          <li><a href="/statistics">STATISTICS</a></li>
          <li><a href="/model">CLASSIFICATION</a></li>
          <li><a href="/team">TEAM</a></li>
        </ul>
      </nav>
      <div class="right-item">CODE CRUSADERS</div>
    </header>
    <h1> WASTE CLASSIFICATION </h1>
  </body>
</html>
