<!DOCTYPE html>
<html>
<head>
<title>Team Member Profile</title>
  <link rel="stylesheet" href="/css/style_index.css">
</head>
<body>
  <header>
    <div class="left-item"><img src="/images/logo.jpg"/></div>
    <nav>
      <ul>
          <li><a href="/">HOME</a></li>
<!--          <li><a href="/about">MODEL INFO</a></li>-->
          <li><a href="/statistics">STATISTICS</a></li>
          <li><a href="/model">CLASSIFICATION</a></li>
          <li><a href="/team">TEAM</a></li>
      </ul>
    </nav>
    <div class="right-item">CODE CRUSADERS</div>
  </header>
<main>
  <h1>Meet Our Team</h1>

  <div class="container">
    <div class="profile">
      <img src="/images/hemanth.png"/>
        <h1>Hemanth Kumar Reddy Tiyyagura</h1>
        <p>Data Scientist<p>
        <p>MS in Computer Science - GMU</p>
        <ul>
          <li><strong>Email:</strong> htiyyagu@gmu.edu</li>
          <li><strong>Phone:</strong> (703) 975-7183</li>
          <li><strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/hemanth-tiyyagura/">Hemanth</a></li>
        </ul>
      </div>
      <div class="profile">
        <img src="/images/anusha.png"/>
          <h1>Anusha Bhavanam</h1>
          <p>Full Stack Developer</p>
          <p>MS in Computer Science - GMU</p>
          <ul>
            <li><strong>Email:</strong> abhavana@gmu.edu</li>
            <li><strong>Phone:</strong> (703) 501-4011</li>
            <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/anusha-bhavanam/">Anusha</a></li>
          </ul>
      </div>
      <div class="profile">
        <img src="/images/chandra.png" alt="Profile Picture">
        <h1>Chandra Kiran Viswanath Balusu</h1>
        <p>Full Stack Developer</p>
        <p>MS in Computer Science - GMU</p>
        <ul>
          <li><strong>Email:</strong>ckvbalusu@gmu.edu</li>
          <li><strong>Phone:</strong>(703) 309-4425</li>
          <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ckvbalusu/">Chandra</a></li>
        </ul>
      </div>
    <div class="profile">
        <img src="/images/tanuja.png" alt="Profile Picture">
        <h1>Tanuja Vallurupalli</h1>
        <p>Data Analyst</p>
        <p>MS in Computer Science - GMU</p>
        <ul>
          <li><strong>Email:</strong> tvalluru@gmu.edu</li>
          <li><strong>Phone:</strong> (571) 576-4545</li>
          <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/tanujavallurupalli/">Tanuja</a></li>
        </ul>
      </div>
  </div>
  </main>

</body>
</html>
