<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/style_statistics.css">
  </head>
  <body>
    <header>
      <div class="left-item"><img src="/images/logo.jpg" alt="Logo">
      </div>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
<!--          <li><a href="/about">MODEL INFO</a></li>-->
          <li><a href="/statistics">STATISTICS</a></li>
          <li><a href="/model">CLASSIFICATION</a></li>
          <li><a href="/team">TEAM</a></li>
        </ul>
      </nav>
      <div class="right-item">CODE CRUSADERS</div>
    </header>
  </body>
  <main>
    <!-- <h1>Dashboard</h1> -->
  
    <div class="container">
      <iframe src="/viz" width="100%" height=1000 frameborder="0"></iframe>
    </div>
    </main>
</html>
